body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    overflow-y:visible;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.pointer:hover {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 100px;
    font-weight: normal;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    color: black;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#logo {
    padding: 10px;
    font-size: 30px;
    color: black;
}

nav {
    width: 20%;
    min-width: 400px;
}

#menu {
    display: inline-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    width: 33%;
    line-height: 56px;
    padding: 5px;
    color: black;
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-item:hover {
    background: rgb(207, 207, 207);
}

#count-basket{
    background: rgb(207, 207, 207);
    font-weight: bolder;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-left: 10px;
}

.menu-item:hover > #count-basket {
    background: rgb(184, 184, 184);
}

#index {
    display: flex;
    background-image: url(../img/main-photo.jpg);
    width: 100vw;
    height: calc(100vh - 56px);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#hours {
    display: flex;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.699);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#is-open-info {
    font-size: 25px;
    text-align: center;
}

#assortment {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    border-top: 1px solid rgb(235, 235, 235);
}

#assortment-menu {
    justify-content: space-around;
}

.assortment-item {
    width: 49%;
    height: 180px;
    text-align: center;
    line-height: 180px;
    background: rgb(230, 230, 230);
    gap: 2%;
    margin-bottom: 10px;
    font-size: 25px;
}

.assortment-item-name {
    filter:none;
}

#other {
    width: 99%;
}

#contact {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    border-top: 1px solid rgb(235, 235, 235);
}

#contact > iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

#contact-box {
    justify-content: space-around;
    background-size: cover;
}

.contact-option {
    display: flex;
    width: 49%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(230, 230, 230);
    margin-bottom: 10px;
}

.icon {
    height:30px;
    margin-right: 10px;
}

footer {
    width: 100%;
    height: 50px;
    background: rgb(250, 250, 250);
    text-align: center;
    line-height: 50px;
}

#product-main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#site-path {
    height: 30px;
    width: 100%;
}

#error-response-for-client {
    font-size: 200%;
    text-align: center;
}

#error-back-link {
    text-align: center;
}

#product-basic-info {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

#photo-box {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

#main-photo{
    width: 100%;
    max-width: 498px;
    height: 498px;
    border: 1px solid rgb(235, 235, 235);
    background-position: center;
    background-size: cover;
}

#gallery {
    width: 100px;
    height:  max-content;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gallery-photo {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

#choosen {
    width: 90px;
    height: 90px;
    border: 5px solid gray;
}

#info-box {
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: normal;
}

#product-name {
    width: 100%;
    max-width: 600px;
    text-transform: uppercase;
    text-wrap: wrap;
    font-size: 40px;
    letter-spacing: 5px;
}

#producer {
    font-size: 20px;
    font-weight: bolder;
    color: gray;
}

#product_description {
    margin-top: 20px;
    width: 100%;
    height: max-content;
    padding: 5%;
    box-sizing: border-box;
    background: rgb(248, 248, 248);
    letter-spacing: 2px;
    font-size: 20px;
}  

#add-to-basket {
    width: 100%;
    line-height: 50px;
    margin-top: 30px;
    text-align: center;
    background: rgb(207, 207, 207);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#add-to-basket:hover {
    background: rgb(184, 184, 184);
}

.add-to-basket-ico {
    width: 24px;
    margin-left: 13px;
}

#wrapper-account-menu {
    display: none;
    flex-direction: column;
    background: rgb(207, 207, 207);
    position: fixed;
    right: 0;
    width: max-content;
    top: 66px;
    z-index: 1 !important; 
}

#unwrap-account-menu:hover #wrapper-account-menu {
    display: flex;
}

.wrapper-account-menu-item {
    box-sizing: border-box;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 400px;
}

.wrapper-account-menu-item:hover {
    background: rgb(184, 184, 184);
}

#wrapper-logout {
    color: rgb(201, 0, 0);
    border-top: 1px solid gray;
}

#login-site {
    background-image: url(../img/main-photo.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
}

#login-box {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background: white;
    width: max-content;
    height: max-content;
    padding: 30px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form > input {
    width: 300px;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 10px;
    border: 1px solid rgb(235, 235, 235);
}

#login-form > input#submit-login {
    box-sizing: content-box;
    background: rgb(207, 207, 207);
}

#login-form > input#submit-login:hover {
    cursor: pointer;
}

#login-form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#login-form-wrapper > input {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
    border: 1px solid rgb(235, 235, 235);
}

#login-form-wrapper > input#submit-login {
    box-sizing: content-box;
}

#login-form-wrapper > input#submit-login:hover {
    cursor: pointer;
}

#login-site-error {
    padding: 10px;
    color: rgb(201, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 300px;
    margin-bottom: 10px;
}

#login-options {
    width: 100%;
    border-top: 1px solid rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

#wrapper-register {
    border-top: 1px solid rgb(235, 235, 235);
}

#register-box{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background: white;
    width: max-content;
    height: max-content;
    padding: 30px;
    display: none;
}

#register-form {
    display: flex;
    flex-direction: column;
}

#register-form > input {
    width: 300px;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 10px;
    border: 1px solid rgb(235, 235, 235);
}

#register-form > input#submit-register {
    box-sizing: content-box;
    background: rgb(207, 207, 207);
}

#register-form > input#submit-register:hover {
    cursor: pointer;
}

#register-options {
    width: 100%;
    border-top: 1px solid rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

#confirm-registration-box{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background: white;
    width: max-content;
    height: max-content;
    padding: 30px;
    display: none;
    text-align: center;
}

#basket {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#products-basket {
    margin-bottom: 10%;
}

.product-basket {
    width: 100%;
    min-height: 200px;
    height: max-content;
    border: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.basket-product-photo {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.basket-product-info-box {
    padding: 25px;
    box-sizing: border-box;
    width: max-content;
    min-height: 200px;
    height: max-content;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-product-info {
    display: flex;
    flex-direction: column;
}

.basket-product-name {
    font-size: 25px;
}

.basket-product-producer {
    line-height: 30px;
    font-weight: bolder;
    color:rgb(192, 192, 192);
    letter-spacing: 2px;
}

.basket-product-delete {
    color: rgb(201, 0, 0);
}

#summary-basket {
    border-top: 1px solid rgb(235, 235, 235);
    background: rgb(235, 235, 235);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.summary-basket-category {
    line-height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.summary-basket-category-name {
    display: flex;
    min-width: 150px;
    flex-direction: row;
    font-weight: bolder;
    color: rgb(54, 54, 54);
    margin-right: 20px;
    border-right: 1px solid rgb(54, 54, 54);
}

#summary-basket-products-list {
    display: flex;
    flex-direction: column;
    color: rgb(54, 54, 54);
}

#summary-basket-products-list > li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#summary-basket-products-list > li:last-child {
    margin-bottom: 0;
}

#submit-reservation-button {
    background: rgb(207, 207, 207);
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    color: rgb(54, 54, 54);
}

#reservations { 
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.reservation-box {
    width: 100%;
    height: max-content;
    background: rgb(235, 235, 235);
    margin-bottom: 20px;
    padding: 20px;
}

.pickup_code{
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.reservation-data {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.reservation-data-box {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.reservation-data-caption {
    font-weight: bold;
}

.reservation-products-list {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.reservations-product {
    width: 200px;
    height: max-content;
    text-align: center;
    margin-right: 20px;
}

.reservations-product-photo {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.reservations-product-data {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: rgb(184, 184, 184);
}

.reservations-product-producer {
    font-weight: bold;
}

.bg-placeholder {
    background-color: gray;
    background-image: url('uploaded_photos/placeholder.png');
}

#shop {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#shop-main-conent {
    display: flex;
    flex-direction: row;
}

#left-bar {
    width: 20%;
    height: max-content;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(226, 226, 226);
    position: sticky;
    top: 10px;
}

#right-bar {
    width: 80%;
    height: max-content;
    padding: 10px;
}

#search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#search-box {
    display: flex;
    flex-direction: column;
}

#search {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#search-input {
    width: 90%;
    padding: 15px;
    font-size: 15px;
    border: 1px solid rgb(184, 184, 184);
}

#search-submit {
    width: 10%;
    border: 0px;
    background: rgb(201, 201, 201);
    font-size: 17px;
}

#categories-list {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.product-list-option {
    line-height: 20px;
}

#shop-products-list {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shop-product {
    flex-grow: 1;
    flex-basis: 32%;
    max-width: 32%;
    height: max-content;
    margin-top: 10px;
    border: 1px solid rgb(184, 184, 184);
    flex-shrink: 0;
    box-sizing: border-box;
    margin-left: 1%;
}

.shop-product-main-photo {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.shop-prouct-info {
    width: 100%;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.shop-product-name{
    font-size: 20px;
    width: max-content;
    margin-bottom: 10px;
}

#sort-box {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    box-sizing: border-box;
}

#sort-list {
    height: 30px;
    font-size: 15px;
}

#product-num{
    border: 1px solid black;
    padding-left: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: space-between;
    margin-left: 10px;
}

#result-info {
    margin-top: 10px;
    line-height: 40px;
    color: rgb(184, 184, 184);
    font-weight: bolder;
}

#show-more-button {
    display: flex;
    width: 100%;
    line-height: 100px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: white;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

#arrow-down-icon {
    width: 15px;
    margin-left: 10px;
}

#categories-list-mobile {
    line-height: 30px;
    display:none;
}

#close-wrapper-box {
    width: 100%;
    text-align: right;
    display: none;
}

.close-wrapper-button {
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

#open-wrapper-box {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    margin-top: 10px;
    display: none;
}

.open-wrapper-button {
    background: rgb(184, 184, 184);
    padding: 10px;
    width: max-content;
    box-sizing: border-box;
    display: block;
}

#reservations-summary {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: max-content;
    padding: 20px;
    background: rgb(184, 184, 184);
    margin-bottom: 50px;
    z-index: 0 !important; 
}

#summary-box {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.summary-category {
    display: flex;
    flex-direction: column;
}

#display-filters-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.display-filters-option {
    padding: 10px;
    background: rgb(122, 122, 122);
    color: white;

}


#product-comments-main {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#comment-input-form {
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 100px;
}

#comment-input {
    width: 80%;
    min-width: 80%;
    min-height: 50px;
    height: 50px;
    padding: 15px;
    font-size: 15px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgb(184, 184, 184);
    resize:vertical;
}

#comment-submit {
    width: 20%;
    padding: 10px;
    font-size: 15px;
    height: 50px;
    border: 0;
}

#comment-add-response {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(207, 207, 207);
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-comment-response {
    border: 1px solid rgb(184, 184, 184);
    padding: 5px;
    box-sizing: border-box;
}

#comments {
    width: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment-box {
    width: 100%;
    height: max-content;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    position: relative;
}

.answer-box {
    width: 90%;
    height: max-content;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    position: relative;
    margin-left: 10%;
}

.comment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-author {
    font-size: 20px;
    color: rgb(65, 65, 65);
}

.comment-date {
    color: rgb(119, 119, 119);
}

.comment-content {
    margin-top: 10px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

/* .alerts-border {
    border: 0;
    animation: blink 1s;
    animation-iteration-count: 100;
    animation-play-state: paused;
}

@keyframes blink { 50% { background-color: rgb(252, 252, 252) }} */

.comment-interactions {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    border-top: 1px solid rgb(184, 184, 184);
    padding-top: 10px;
    align-items: center;
}

.comment-interaction {
    color: rgb(119, 119, 119);
}

#interactions-options {
    margin-left: auto;
}

.answer-form {
    width: 100%;
    height: max-content;
    display: none;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
}

.answer-input {
    width: 100%;
    min-height: 50px;
    height: 50px;
    padding: 15px;
    font-size: 15px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgb(184, 184, 184);
    resize: vertical;
}

textarea {
    font-family: 'Work Sans';
}

.answer-form-options {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.answer-submit {
    width: 20%;
    border: 0;
    background: rgb(119, 119, 119);
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}